<div class="my-4 mx-4">

  <nav >
    <a class="text-xl border-solid border-4 rounded-lg  border-neutral-400 mr-2 p-1" routerLink="/crisis-list"
      routerLinkActive="bg-sky-400" ariaCurrentWhenActive="page">
      Crisis Center
    </a> 
    <a class="text-xl border-solid border-4 rounded-lg border-neutral-400 p-1" routerLink="/heroes-list"
      routerLinkActive="bg-sky-400" ariaCurrentWhenActive="page">
      Heroes
    </a>
  </nav>

  <div class="mt-4">
    <router-outlet></router-outlet>
  </div>
</div>