<div>
  <div class="flex justify-between bg-sky-900 px-8 py-1">
    <nav>
      <a
        class="text-xl text-white capitalize"
        routerLink="/rick-and-morty"
        routerLinkActive=" underline"
        ariaCurrentWhenActive="page"
      >
        rick and morty
      </a>
    </nav>

    <button
      (click)="onSynchronize()"
      [disabled]="(isOnline$ | async) === false"
      class="disabled:opacity-50 disabled:cursor-not-allowed bg-blue-500 enabled:hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 enabled:hover:border-blue-500 rounded"
    >
      Synchronize {{ changeWaitingToBeSync }}
    </button>
  </div>

  <div class="m-4">
    <router-outlet></router-outlet>
  </div>
</div>
